# compiled output
**/dist

# misc
**/npm-debug.log
**/yarn-error.log
**/testem.log

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
.yarnrc.yml
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.vscode/
.versions/
**/dist/
**/.next/
**/.cache/
**/node_modules/

**/.DS_Store
**/Thumbs.db
